{{#partial "contenido"}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Agregar horario</div>
                    <div class="card-body">
                        <form method="POST" action="/usuarios/usuario/notificaciones/horarios/agregar">
                            <div class="mb-3">
                                <label for="dia" class="form-label">Día</label>
                                <select class="form-select" id="dia" name="dia">
                                    <option disabled selected value="">Día de la semana</option>
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="hora" class="form-label">Hora</label>
                                <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora en punto, de 0 a 24">
                            </div>
                            <button type="submit" class="btn btn-primary"> Agregar</button>
                            <a class="btn btn-secondary" href="/usuarios/usuario/notificaciones/horarios"> Atrás</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base }}