{{#partial "contenido" }}

    <h1>Lista de Perfiles</h1>
    <ul>
        {{#each perfiles}}
            <li>
                <strong>Nickname:</strong> {{this.nickname}}<br>
            </li>
        {{/each}}
    </ul>

    <div align="center">
        <a class="btn btn-primary" href="/usuarios/{{usuario_id}}/perfiles/crear">Crear perfil</a>
    </div>

{{/partial}}
{{> templates/base }}