{{#partial "contenido"}}
    <h1>Informe Semanal de {{fecha}}</h1>

    <h2>Ranking Mayor Promedio Cierre</h2>
    <ol>
        {{#each rankingMayorPromedioCierre}}
            <li>{{this}}</li>
        {{/each}}
    </ol>

    <h2>Ranking Mayor Incidentes Reportados</h2>
    <ol>
        {{#each rankingMayorIncidentesReportados}}
            <li>{{this}}</li>
        {{/each}}
    </ol>

    <h2>Ranking Mayor Impacto Problematicas</h2>
    <ol>
        {{#each rankingMayorImpactoProblematicas}}
            <li>{{this}}</li>
        {{/each}}
    </ol>

{{/partial}}
{{> templates/base }}
