{{#partial "contenido"}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Crear Incidente</div>
                    <div class="card-body">
                        <form method="POST" action="/incidentes/crear">

                            <div class="mb-3">
                                <label for="entidad" class="form-label">Entidad</label>
                                <select class="form-select" type="text" id="entidad" name="entidad"
                                        onchange="traerEstablecimientos(this, 'establecimiento', 'servicio')">
                                    <option disabled selected value="">Entidad</option>
                                    {{#each entidades}}
                                        <option value="{{id}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="establecimiento" class="form-label">Establecimiento</label>
                                <select class="form-select" type="text" id="establecimiento" name="establecimiento"
                                        onchange="traerServicios(this, 'servicio')">
                                    <option disabled selected value="">Seleccione una entidad</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="servicio" class="form-label">Servicio</label>
                                <select class="form-select" type="text" id="servicio" name="servicio">
                                    <option disabled selected value="">Seleccione un establecimiento</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="observaciones" class="form-label">Observaciones</label>
                                <textarea class="form-control" id="observaciones" name="observaciones" rows="4"
                                          placeholder="Ingrese las observaciones"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Crear Incidente</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        async function traerEstablecimientos(entidad, establecimientos, servicios) {
            ocultarServicios(servicios);
            var e = entidad.value;
            var d = document.getElementById(establecimientos);
            d.options.length = 0;
            d.options[0] = new Option("Establecimiento", "", true);
            d.options[0].disabled = true;
            fetch("http://dds-mi-no-16.dds.disilab.cpci.org.ar/establecimientos?entidad=" + e)
                    .then(response => response.json())
                    .then(data => {
                        var d = document.getElementById(establecimientos);
                        for (const establecimiento of data.establecimientos) {
                            d.options[d.options.length] = new Option(establecimiento.nombre, establecimiento.id);
                        }
                    })
        }

        async function traerServicios(establecimiento, servicios) {
            var e = establecimiento.value;
            var d = document.getElementById(servicios);
            d.options.length = 0;
            d.options[0] = new Option("Servicio", "", true);
            d.options[0].disabled = true;
            fetch("http://dds-mi-no-16.dds.disilab.cpci.org.ar/servicios?establecimiento=" + e)
                    .then(response => response.json())
                    .then(data => {
                        var d = document.getElementById(servicios);
                        for (const servicio of data.servicios) {
                            d.options[d.options.length] = new Option(servicio.nombre, servicio.id);
                        }
                    })
        }

        async function ocultarServicios(servicios) {
            var d = document.getElementById(servicios);
            d.options.length = 0;
            d.options[0] = new Option("Seleccione un establecimiento", "", true);
            d.options[0].disabled = true;
        }

    </script>

{{/partial}}
{{> templates/base }}
