{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Fusionador de Comunidades API",
    "description": "API para implementar el Servicio de Fusion de Comunidades"
  },
  "servers": [
    {
      "url": "https://algo.mas.com"
    }
  ],
  "tags": [
    {
      "name": "transacciones",
      "description": "Comunicacion de comunidades a traves de DTO transacciones"
    }
  ],
  "paths": {
    "/api/transacciones": {
      "post": {
        "tags": [
          "transacciones"
        ],
        "summary": "Mandar nueva transaccion a procesar",
        "description": "Mandar nueva transaccion a procesar. Dentro de estas se encuentran las comunidades a sugerir fusiones, asi como las propuestas de fusion antiguas de transacciones realizadas anteriormente. Devuelve la transaccion con todos los datos pasados más las propuestas de fusion nuevas.",
        "requestBody": {
          "description": "Transaccion",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaccion"
              },
              "examples": {
                "TransaccionRecibirPost": {
                  "$ref": "#/components/examples/TransaccionRecibirPost"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaccion"
                },
                "examples": {
                  "TransaccionRetornoPost": {
                    "$ref": "#/components/examples/TransaccionRetornoPost"
                  }
                }
              }
            }
          },
          "x-400 Tipo A": {
            "description": "Solicitud incorrecta, Hay propuestas de fusiones antiguas no aceptadas"
          },
          "x-400 Tipo B": {
            "description": "Solicitud incorrecta, La transaccion no esta en la etapa correcta"
          },
          "x-400 Tipo C": {
            "description": "Solicitud incorrecta, No hay comunidades en la transaccion"
          },
          "x-400 Tipo D": {
            "description": "Solicitud incorrecta, No todas las comunidades tienen servicios"
          },
          "x-400 Tipo E": {
            "description": "Solicitud incorrecta, No todas las comunidades tienen establecimientos"
          },
          "x-400 Tipo F": {
            "description": "Solicitud incorrecta, No todas las comunidades tienen usuarios"
          },
          "x-400 Tipo G": {
            "description": "Solicitud incorrecta, No todas las comunidades estan activas"
          },
          "x-400 Tipo H": {
            "description": "Solicitud incorrecta, No todas las comunidades tienen ID (es necesario que tengan)"
          },
          "x-400 Tipo I": {
            "description": "Solicitud incorrecta, No todas las comunidades tienen grado de confianza"
          },
          "x-400 Tipo J": {
            "description": "Solicitud incorrecta, La lista de comunidades fusionadas es nula, deberia ser lista vacia"
          },
          "x-400 Tipo K": {
            "description": "Solicitud incorrecta, Ya hay comunidades fusionadas(no deberia)"
          },
          "x-400 Tipo L": {
            "description": "Solicitud incorrecta, La lista de comunidades desactivadas es nula, deberia ser lista vacia"
          },
          "x-400 Tipo M": {
            "description": "Solicitud incorrecta, Ya hay comunidades desactivadas(no deberia)"
          },
          "x-400 Tipo N": {
            "description": "Solicitud incorrecta, La lista de propuestas de fusiones nuevas es nula, deberia ser lista vacia"
          },
          "x-400 Tipo O": {
            "description": "Solicitud incorrecta, Ya hay propuestas de fusiones nuevas(no deberia)"
          },
          "x-400 Tipo P": {
            "description": "Solicitud incorrecta, Fecha de inicio de transaccion es nula (no deberia)"
          },
          "x-400 Tipo Q": {
            "description": "Solicitud incorrecta, Ya hay propuestas de fusiones nuevas(no deberia)"
          },
          "x-400 Tipo R": {
            "description": "Solicitud incorrecta, La fecha de inicio de transaccion es posterior a la fecha actual"
          },
          "x-400 Tipo S": {
            "description": "Solicitud incorrecta, Ya hay fecha de fin de transaccion(no deberia)"
          }
        }
      },
      "patch": {
        "tags": [
          "transacciones"
        ],
        "summary": "Mandar transaccion con propuestas de fusion nuevas Aceptadas o Rechazadas",
        "description": "Mandar transaccion para procesar las propuestas de fusion nuevas Aceptadas o Rechazadas. Devuelve la transaccion con todos los datos pasados más las comunidades fusionadas y las desactivadas.",
        "requestBody": {
          "description": "Transaccion",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaccion"
              },
              "examples": {
                "TransaccionRecibirPatch": {
                  "$ref": "#/components/examples/TransaccionRecibirPatch"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaccion"
                },
                "examples": {
                  "TransaccionRetornoPatch": {
                    "$ref": "#/components/examples/TransaccionRetornoPatch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta, Hay propuestas de fusiones nuevas con aceptacion indefinida"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Transaccion": {
        "type": "object",
        "required": [
          "etapa",
          "comunidades",
          "comunidadesFusionadas",
          "comunidadesDesactivadas",
          "propuestasFusionesAntiguas",
          "propuestasFusionesNuevas",
          "fechaInicioTransaccion",
          "fechaFinTransaccion"
        ],
        "properties": {
          "etapa": {
            "type": "string",
            "description": "Etapa Transaccion",
            "example": "POSTEAR_TRANSACCION",
            "enum": [
              "POSTEAR_TRANSACCION",
              "RETORNO_POST",
              "PATCH_TRANSACCION",
              "RETORNO_PATCH"
            ]
          },
          "comunidades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comunidad"
            }
          },
          "comunidadesFusionadas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comunidad"
            },
            "example": null
          },
          "comunidadesDesactivadas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comunidad"
            },
            "example": null
          },
          "propuestasFusionesAntiguas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropuestaDeFusion"
            }
          },
          "propuestasFusionesNuevas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropuestaDeFusion"
            },
            "example": null
          },
          "fechaInicioTransaccion": {
            "type": "string",
            "format": "date",
            "example": "2023-09-01"
          },
          "fechaFinTransaccion": {
            "type": "string",
            "format": "date",
            "example": null
          }
        }
      },
      "Comunidad": {
        "type": "object",
        "required": [
          "id",
          "nombre",
          "idUsuarios",
          "IdEstablecimientos",
          "idServicios",
          "gradoDeConfianza",
          "activa"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/IDs"
          },
          "nombre": {
            "type": "string",
            "example": "Hipoacusticos"
          },
          "idUsuarios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IDs"
            }
          },
          "idEstablecimientos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IDs"
            }
          },
          "idServicios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IDs"
            }
          },
          "gradoDeConfianza": {
            "type": "string",
            "description": "Grado De Confianza",
            "example": "CONFIABLE_NIVEL_1",
            "enum": [
              "NO_CONFIABLE",
              "CON_RESERVAS",
              "CONFIABLE_NIVEL_1",
              "CONFIABLE_NIVEL_2"
            ]
          },
          "activa": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "PropuestaDeFusion": {
        "type": "object",
        "required": [
          "id",
          "comunidad1",
          "comunidad2",
          "comunidadFusionada",
          "estadoPropuestaFusion"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/IDs"
          },
          "comunidad1": {
            "$ref": "#/components/schemas/Comunidad"
          },
          "comunidad2": {
            "$ref": "#/components/schemas/Comunidad"
          },
          "comunidadFusionada": {
            "allOf": [
              {
                "example": null
              },
              {
                "$ref": "#/components/schemas/Comunidad"
              }
            ]
          },
          "estadoPropuestaFusion": {
            "type": "string",
            "description": "Estado de Propuesta de Fusion",
            "example": "ACEPTADA",
            "enum": [
              "PENDIENTE",
              "ACEPTADA",
              "RECHAZADA"
            ]
          },
          "fechaPropuestaFusion": {
            "type": "string",
            "format": "date",
            "example": "2023-09-01"
          }
        }
      },
      "IDs": {
        "type": "integer",
        "format": "long",
        "minimum": 0,
        "example": 1
      }
    },
    "examples": {
      "TransaccionRecibirPost": {
        "summary": "Ejemplo de Transaccion",
        "value": {
          "etapa": "POSTEAR_TRANSACCION",
          "comunidades": [
            {
              "id": 1,
              "nombre": "Hipoacusticos",
              "idUsuarios": [
                1,
                2,
                3,
                4
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9
              ],
              "idServicios": [
                11,
                12,
                13,
                14
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            },
            {
              "id": 2,
              "nombre": "Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            }
          ],
          "comunidadesFusionadas": [],
          "comunidadesDesactivadas": [],
          "propuestasFusionesAntiguas": [
            {
              "id": 15,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "RECHAZADA",
              "fechaPropuestaFusion": "2023-01-01"
            }
          ],
          "propuestasFusionesNuevas": [],
          "fechaInicioTransaccion": "2023-09-01",
          "fechaFinTransaccion": null
        }
      },
      "TransaccionRetornoPost": {
        "summary": "Ejemplo de Transaccion",
        "value": {
          "etapa": "RETORNO_POST",
          "comunidades": [
            {
              "id": 1,
              "nombre": "Hipoacusticos",
              "idUsuarios": [
                1,
                2,
                3,
                4
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9
              ],
              "idServicios": [
                11,
                12,
                13,
                14
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            },
            {
              "id": 2,
              "nombre": "Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            }
          ],
          "comunidadesFusionadas": [],
          "comunidadesDesactivadas": [],
          "propuestasFusionesAntiguas": [
            {
              "id": 15,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "RECHAZADA",
              "fechaPropuestaFusion": "2023-01-01"
            }
          ],
          "propuestasFusionesNuevas": [
            {
              "id": null,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": true
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": true
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "PENDIENTE",
              "fechaPropuestaFusion": "2023-09-01"
            }
          ],
          "fechaInicioTransaccion": "2023-09-01",
          "fechaFinTransaccion": null
        }
      },
      "TransaccionRecibirPatch": {
        "summary": "Ejemplo de Transaccion, mandarle la transaccion con las propuestas de fusion nuevas Aceptadas o Rechazadas",
        "value": {
          "etapa": "PATCH_TRANSACCION",
          "comunidades": [
            {
              "id": 1,
              "nombre": "Hipoacusticos",
              "idUsuarios": [
                1,
                2,
                3,
                4
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9
              ],
              "idServicios": [
                11,
                12,
                13,
                14
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            },
            {
              "id": 2,
              "nombre": "Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            }
          ],
          "comunidadesFusionadas": [],
          "comunidadesDesactivadas": [],
          "propuestasFusionesAntiguas": [
            {
              "id": 15,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "RECHAZADA",
              "fechaPropuestaFusion": "2023-01-01"
            }
          ],
          "propuestasFusionesNuevas": [
            {
              "id": null,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": true
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": true
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "ACEPTADA",
              "fechaPropuestaFusion": "2023-09-01"
            }
          ],
          "fechaInicioTransaccion": "2023-09-01",
          "fechaFinTransaccion": null
        }
      },
      "TransaccionRetornoPatch": {
        "summary": "Ejemplo de Transaccion",
        "value": {
          "etapa": "RETORNO_PATCH",
          "comunidades": [
            {
              "id": 1,
              "nombre": "Hipoacusticos",
              "idUsuarios": [
                1,
                2,
                3,
                4
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9
              ],
              "idServicios": [
                11,
                12,
                13,
                14
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            },
            {
              "id": 2,
              "nombre": "Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            }
          ],
          "comunidadesFusionadas": [
            {
              "id": null,
              "nombre": "Hipoacusticos-Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                4,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                14,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": true
            }
          ],
          "comunidadesDesactivadas": [
            {
              "id": 1,
              "nombre": "Hipoacusticos",
              "idUsuarios": [
                1,
                2,
                3,
                4
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                9
              ],
              "idServicios": [
                11,
                12,
                13,
                14
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": false
            },
            {
              "id": 2,
              "nombre": "Invidentes",
              "idUsuarios": [
                1,
                2,
                3,
                5
              ],
              "idEstablecimientos": [
                6,
                7,
                8,
                10
              ],
              "idServicios": [
                11,
                12,
                13,
                15
              ],
              "gradoDeConfianza": "CONFIABLE_NIVEL_1",
              "activa": false
            }
          ],
          "propuestasFusionesAntiguas": [
            {
              "id": 15,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidadFusionada": null,
              "estadoPropuestaFusion": "RECHAZADA",
              "fechaPropuestaFusion": "2023-01-01"
            }
          ],
          "propuestasFusionesNuevas": [
            {
              "id": null,
              "comunidad1": {
                "id": 1,
                "nombre": "Hipoacusticos",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidad2": {
                "id": 2,
                "nombre": "Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": false
              },
              "comunidadFusionada": {
                "id": null,
                "nombre": "Hipoacusticos-Invidentes",
                "idUsuarios": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "idEstablecimientos": [
                  6,
                  7,
                  8,
                  9,
                  10
                ],
                "idServicios": [
                  11,
                  12,
                  13,
                  14,
                  15
                ],
                "gradoDeConfianza": "CONFIABLE_NIVEL_1",
                "activa": true
              },
              "estadoPropuestaFusion": "ACEPTADA",
              "fechaPropuestaFusion": "2023-09-01"
            }
          ],
          "fechaInicioTransaccion": "2023-09-01",
          "fechaFinTransaccion": "2023-09-02"
        }
      }
    }
  }
}