{{#partial "contenido" }}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Id Incidente</th>
                <th>Servicio</th>
                <th>Establecimiento</th>
            </tr>
            <tbody>
            {{#each incidentes}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.getServicioNombre}}</td>
                    <td>{{this.getEstablecimientoNombre}}</td>
                    <td>
                       <a class="btn btn-secondary" href="/incidentes/{{this.id}}/cerrar"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

<!--    <div align="center">-->
<!--        <a class="btn btn-primary" href="/comunidades/{id}/incidentes/crear">Crear incidente</a>-->
<!--    </div>-->
<!--    no se como conseguir el id de la comunidad para hacer el crear nuevo incidente (en esa comunidad)-->

{{/partial}}
{{> templates/base }}