/* Fondo gris oscuro */
body {
    background-color: #303030;
    color: #fff;
}

/* Botones resaltados en azul */
.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Detalles de texto en azul */
a {
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}
