{{#partial "contenido"}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cargar Datos</div>
                    <div class="card-body">
                        <form method="POST" action="/cargarDatos" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Archivo CSV</label>
                                <input class="form-control" type="file" accept=".csv" name="csvFile">
                            </div>
                            <button type="submit" class="btn btn-primary">Cargar Datos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base }}
